@import '../../styles/vars.scss';

.input {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  box-shadow: rgb(0 27 56 / 8%) 0px 4px 16px;
  border-radius: 8px;
  background-color: $White;
  font-size: 20px;
  padding-left: 20px;
  ::placeholder {
    color: $Gray;
  }
}
