$Green: #18bc9c;
$Green-light: #22fa51;
$Red-light: #ff0000;
$Green-hover: #128f76;
$White: #fff;
$Gray: #949ea8;
$Errors: #c82020;
$Tooltip: #2f3133;
$Red: #ee2828;
$Black: black;
$MainBackground: #f8f9fb;
